@model DAL.Entity.News
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/Assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="~/News/Index">Tin tức</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">@Model.NewsTitle</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Details Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="">
                <div id="blog-carousel" class="carousel slide mb-5 wow fadeIn" data-bs-ride="carousel"
                     data-wow-delay="0.1s">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="w-100" src="~/Assets/img/carousel-1.jpg" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100" src="~/Assets/img/carousel-2.jpg" alt="Image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#blog-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#blog-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div class="d-flex mb-3">
                    <span class="border-end me-3 pe-3"> <i class="fa fa-user-alt text-primary me-2"></i>@Model.Author</span>
                    <span><i class="fa fa-calendar-alt text-primary me-2"></i>@Model.PublishDate</span>
                </div>
                <h1 class="mb-4">@Model.NewsTitle</h1>
                <p>
                    Content
                </p>
                <p class="mb-5">
                    @Html.Raw(Model.NewsContent)
                </p>
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <img class="img-fluid" src="@Model.Image" alt="">
                    </div>
                    <div class="col-sm-6">
                        <img class="img-fluid" src="@Model.Image" alt="">
                    </div>
                </div>
                <!--<p class="mb-4">
                    Content
                </p>
                <figure class="border-start border-5 border-primary ps-4 mb-5">
                    <blockquote class="blockquote mb-4">
                        <p>
                            Content
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer fw-medium">author</figcaption>
                </figure>


                <div class="border p-1 mb-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column flex-sm-row border p-4">
                        <img class="img-fluid flex-shrink-0 mb-3 mb-sm-0" src="" style="width: 100px; height: 100px;" alt="">
                        <div class="ps-sm-3">
                            <h5>Author</h5>
                            <p class="mb-0">
                                Comment
                            </p>
                        </div>
                    </div>
                </div>-->

                <!-- Comment Start -->
                <!--<div class="mb-5 wow fadeIn" data-wow-delay="0.1s">
                    <h4 class="section-title text-start mb-4">3 Bình luận</h4>
                    <div class="d-flex mb-4">
                        <img src="" class="img-fluid rounded" style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6>Name <small class="text-body fw-normal fst-italic">25 May 2023</small></h6>
                            <p class="mb-2">
                                Comment
                            </p>
                            <a href=""><i class="fa fa-reply me-2"></i> Trả lời</a>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <img src="" class="img-fluid rounded" style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6>Name <small class="text-body fw-normal fst-italic">25 May 2023</small></h6>
                            <p class="mb-2">
                                Comment #
                            </p>
                            <a href=""><i class="fa fa-reply me-2"></i> Trả lời</a>
                        </div>
                    </div>
                    <div class="d-flex ms-5 mb-4">
                        <img src="" class="img-fluid rounded" style="width: 45px; height: 45px;" alt="">
                        <div class="ps-3">
                            <h6>Name <small class="text-body fw-normal fst-italic">25 May 2023</small></h6>
                            <p class="mb-2">
                                Comment #
                            </p>
                            <a href=""><i class="fa fa-reply me-2"></i> Trả lời</a>
                        </div>
                    </div>
                </div>-->


                <div class="bg-light p-4 p-md-5 wow fadeIn" data-wow-delay="0.1s">
                    <h5>-- Đang phát triển... --</h5>
                    <hr />
                    <h5 class="section-title text-start mb-4">Để lại góp ý của bạn</h5>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-white border-0"
                                       placeholder="Tên của bạn" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-white border-0"
                                       placeholder="Email của bạn" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-white border-0" rows="5"
                                          placeholder="Bình luận"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">
                                    Gửi
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details End -->
