@model DAL.Entity.Customer

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mt-5">Add Customer</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row formtype">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" type="text" name="FullName" />
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Address</label>
                                <input class="form-control" type="text" name="Address" />
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" type="number" name="Phone" />
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Identify Number</label>
                                <input class="form-control" type="number" name="IdentifyNumber" />
                                @Html.ValidationMessageFor(model => model.IdentifyNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="email" name="Email" />
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Birth Date</label>
                                <div>
                                    <input type="date" class="form-control" name="BirthDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender</label>
                                <div>
                                    <input type="radio" name="Gender" value="Male" />
                                    <span>Male</span>
                                </div>

                                <div>
                                    <input type="radio" name="Gender" value="Female" />
                                    <span>Female</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Promotion</label>
                                <select class="form-control" name="PromotionID">
                                    <option>Select</option>
                                    @foreach (var item in new DAL.mapPromotion().LoadData())
                                    {
                                        <option value="@item.PromotionID">@item.PromotionName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary buttonedit1">Create Customer</button>
                    <a href="~/Admin/CustomerManage/AllCustomer" class="btn btn-primary btn-danger" style="float:right; margin-right:8px; padding:10px">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
