@model IEnumerable<DAL.Entity.Customer>

@{
    ViewBag.Title = "AllCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int num = 1;
}


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2"><a style="color:black" href="~/admin/customermanage/allcustomer">All Customers</a></h4> <a href="~/Admin/CustomerManage/AddCustomer" class="btn btn-primary float-right veiwbutton">Add Customers</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="get">
                    <div class="row formtype">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" value="@ViewBag.fullName" name="fullName">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" value="@ViewBag.email" name="email" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Search</label> 
                                <button type="submit" class="btn btn-success btn-block mt-0 search_button"> Search </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body booking_card">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">No</th>
                                        <th>Full Name</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>IdentifyNo</th>
                                        <th>Email</th>
                                        <th>Gender</th>
                                        <th>BirthDate</th>
                                        <th style="text-align:center">Image</th>
                                        <th>Promotion</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center">@(num++)</td>
                                            <td>@item.FullName</td>
                                            <td>@item.Address</td>
                                            <td>@item.Phone</td>
                                            <td>@item.IdentifyNumber</td>
                                            <td>@item.Email</td>
                                            <td>@item.Gender</td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.BirthDate)</td>
                                            <td style="text-align:center">
                                                <img src="@item.Image" style="width:60px; height:60px" />
                                            </td>
                                            <td>@item.Promotion.PromotionName</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="~/Admin/CustomerManage/UpdateCustomer?id=@item.CustomerID"><i class="fas fa-pencil-alt m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" href="~/Admin/CustomerManage/DeleteCustomer?id=@item.CustomerID" data-toggle="modal" data-target="#delete_asset"><i class="fas fa-trash-alt m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="delete_asset" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/img/sent.png" alt="" width="50" height="46">
                    <h3 class="delete_class">Are you sure want to delete this customer?</h3>
                    <div class="m-t-20">
                        <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
