@model DAL.Entity.Booking

@{
    ViewBag.Title = "AddBooking";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mt-5">Add Booking</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row formtype">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Name</label>
                                @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Room Type</label>
                                <select class="form-control" name="RoomID">
                                    <option>Select</option>
                                    @foreach (var item in new DAL.mapRoom().LoadData())
                                    {
                                        <option value="@item.RoomID">@item.RoomType.RoomTypeName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Adult</label>
                                <input type="number" name="Adult" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Adult, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Child</label>
                                <input type="number" name="Child" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Child, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Booking Date</label>
                                <div>
                                    <input type="date" class="form-control" name="BookingDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Checkin Date</label>
                                <div>
                                    <input type="date" class="form-control" name="CheckinDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Checkout Date</label>
                                <div>
                                    <input type="date" class="form-control" name="CheckoutDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Identify No</label>
                                <input type="number" name="IdentifyNo" class="form-control" />
                                @Html.ValidationMessageFor(model => model.IdentifyNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" name="Email" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="number" name="Phone" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Active</label>
                                <div class="center">
                                    <input type="checkbox" value="true" name="IsActive"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary buttonedit1">Create Booking</button>
                    <a href="~/Admin/Booking/AllBooking" class="btn btn-primary btn-danger" style="float:right; margin-right:8px; padding:10px">Cancel</a>
                </form>
            </div>
        </div>

    </div>
</div>
