@model IEnumerable<DAL.Entity.Booking>
@{
    ViewBag.Title = "AllBooking";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int num = 1;


}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">All Bookings</h4>
                        <a href="~/Admin/Booking/AddBooking" class="btn btn-primary float-right veiwbutton ">
                            Add Booking
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--Start Search-->
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                    <div class="row formtype">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input class="form-control" type="text" value="@ViewBag.customerName" name="customerName">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text" value="@ViewBag.email" name="email">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Search</label>
                                <button type="submit" class="btn btn-success btn-block mt-0 search_button"> Search </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--End Search-->

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body booking_card">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Room Type</th>
                                        <th>Adult</th>
                                        <th>Child</th>
                                        <th>Booking Date</th>
                                        <th>Check in</th>
                                        <th>Check out</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Note</th>
                                        <th class="text-right">Total</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(num++)</td>
                                            <td>
                                                <a href="#">@item.CustomerName</a>
                                            </td>
                                            <td>@item.Room.RoomType.RoomTypeName</td>
                                            <td>@item.Adult</td>
                                            <td>@item.Child</td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.BookingDate)</td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.CheckinDate)</td>
                                            <td>@string.Format("{0:dd-MM-yyyy}", item.CheckoutDate)</td>
                                            <td>@item.Email</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Note</td>
                                            <td class="text-right">@string.Format("{0:#,0}", item.TotalAmount)</td>
                                            <td class="text-right">
                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="~/Admin/Booking/EditBooking?id=@item.BookingID"> <i class="fas fa-pencil-alt m-r-5"></i> Edit </a>
                                                        <a class="dropdown-item" onclick="if (confirm('Are you want to delete?') == true) { location.href='/Admin/Booking/DeleteBooking?id=@item.BookingID' }"> <i class="fas fa-trash-alt m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
