@model DAL.Entity.Room
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = "Rooms";
    var roomType = new DAL.mapRoomType().LoadData();
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/Assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Danh sách phòng</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Phòng</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<!--<div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="bg-white shadow" style="padding: 35px;">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <select class="form-select">
                                <option selected>Loại phòng</option>
                                @foreach (var item in roomType)
                                {
                                    <option value="@item.RoomTypeID">@item.RoomTypeName</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-4">
                            <select class="form-select">
                                <option selected>Người lớn</option>
                                @for (int i = 1; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select">
                                <option selected>Trẻ em</option>
                                @for (int i = 1; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Booking End -->
<!-- Room Start -->
<div class="container-xxl py-2">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Các phòng</h6>
            <h1 class="mb-5">Khám phá các <span class="text-primary text-uppercase">phòng </span>có sẵn</h1>
        </div>
        <div class="row g-4">
            @foreach (var rooms in new DAL.mapRoom().LoadData())
            {
                if (rooms.IsActive == true)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="position-relative">           
                                <img class="img-fluid" src="@rooms.Image" alt="@rooms.RoomType.RoomTypeName">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4" style="font-size: 16px; font-weight:bold;">@string.Format("{0:#,0}", rooms.Price * (decimal)0.9) / đêm</small>
                                <small class="position-absolute start-50 top-100 translate-middle-y bg-discount strikeThrough text-white rounded py-1 px-3 ms-4" style="text-decoration-color:black; font-size: 13px">
                                    @string.Format("{0:#,0}", rooms.Price) /đêm
                                </small>
                            </div>
                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <a href="~/rooms/roomdetail?id=@rooms.RoomID" class="select-room fs-5">@rooms.RoomType.RoomTypeName</a>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>@rooms.Bed giường</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>@rooms.Bath phòng tắm</small>
                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                </div>
                                <p class="text-body mb-3">@rooms.Description</p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4" href="~/Rooms/RoomDetail?id=@rooms.RoomID">Xem chi tiết</a>
                                    <a class="btn btn-sm btn-dark rounded py-2 px-4" href="@Url.Action("Booking", "Bookings", new {@id=rooms.RoomID}, null)">Đặt ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Room End -->
<!-- Feedback Start -->
<div class="container-xxl testimonial mt-5 py-5 bg-dark wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
    <div class="container">
        <div class="owl-carousel testimonial-carousel py-5">
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Descriptions</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="" style="width: 45px; height: 45px;" alt="avatar">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Tên khách hàng</h6>

                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Descriptions</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="" style="width: 45px; height: 45px;" alt="avatar">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Tên khách hàng</h6>

                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
            <div class="testimonial-item position-relative bg-white rounded overflow-hidden">
                <p>Descriptions</p>
                <div class="d-flex align-items-center">
                    <img class="img-fluid flex-shrink-0 rounded" src="" style="width: 45px; height: 45px;" alt="avatar">
                    <div class="ps-3">
                        <h6 class="fw-bold mb-1">Tên khách hàng</h6>

                    </div>
                </div>
                <i class="fa fa-quote-right fa-3x text-primary position-absolute end-0 bottom-0 me-4 mb-n1"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
