
@{
    ViewBag.Title = "Select_Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rooms = new DAL.mapRoom().LoadData();
}

<!-- Search Detail-->
<div class="mt-3 border-bottom">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
            <li class="breadcrumb-item text-primary fs-1">Danh sách phòng có sẵn</li>
        </ol>
    </nav>
</div>

<!-- Select Room start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8">
                @foreach (var item in rooms)
                {
                    <div class="row room-item m-0 mb-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="col-md-5 col-lg-12 col-xl-5 p-0" style="min-height: 300px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100" src="@item.Image" style="object-fit: cover;" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-12 col-xl-7 h-100 px-0">
                            <div class="p-4">
                                <div class="d-flex align-items-center justify-content-between mb-3">    
                                    <small class="bg-primary text-white fs-5 rounded py-1 px-3">@string.Format("{0:#,0}", item.Price) /đêm</small>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <h5 class="mb-3">@item.RoomType.RoomTypeName</h5>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>@item.Bed Bed</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>@item.Bath Bath</small>
                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                </div>
                                <p class="text-body mb-0">
                                    @item.Description
                                </p>
                            </div>
                            <div class="d-flex justify-content-right border-top mt-auto p-4">
                                <button type="submit" class="btn btn-sm btn-dark rounded py-2 px-4">Chọn</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!-- Total amount -->
            <div class="col-lg-4">
                <form method="post">
                    <div class="bg-light mb-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="border-bottom text-center text-dark p-3 pt-4 mb-3">
                            <span class="align-middle fs-3 fw-bold">Đơn hàng</span>
                        </div>
                        <div class="row g-3 p-4 pt-2">
                            <div class="col-12">
                                <h6>Phòng đã chọn</h6>
                                <div class="d-flex">

                                </div>
                            </div>

                            <div class="col-12">
                                <h6>Ngày nhận - Trả phòng</h6>
                                <div class="d-flex">
                                    <input class="pe-3 me-3 form-control" name="CheckinDate" />
                                    <input class="pe-3 me-3 form-control" name="CheckoutDate" />
                                </div>
                            </div>

                            <div class="col-12">
                                <h6>Người lớn - Trẻ em</h6>
                                <div class="d-flex">
                                    <input class="border-end pe-3 me-3 form-control" name="Adult" />
                                    <input class="pe-3 me-3 form-control" name="Child" />
                                </div>
                            </div>

                            <div class="col-12">
                                <h6>Thành tiền</h6>
                                <div class="d-flex">
                                    <p>vnd</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="~/rooms/booking" class="btn btn-primary py-3 w-100">Tiếp tục</a>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Support -->
                <div class="border p-1 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="border p-4">
                        <h4 class="mb-4">Liên hệ & Hỗ trợ</h4>
                        <p>
                            Liên hệ với chúng tôi nếu bạn có bất cứ thắc mắc gì.
                        </p>
                        <div class="bg-primary text-center p-3">
                            <h4 class="text-white m-0">+84 842.884883</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Select Room end -->
