@model DAL.Entity.Booking
@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DAL.Entity.Room room = ViewBag.RoomDetail;
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/Assets/img/carousel-1.jpg);">
    <div class="container-fluid page-header-inner py-5">
        <div class="container text-center pb-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Đặt phòng</h1>
            @*<nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center text-uppercase">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                    </ol>
                </nav>*@
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Đặt phòng</h6>
            <h1 class="mb-5">Thông tin người đặt phòng</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="room-item shadow rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="~/Assets/img/room-1.jpg" alt="notset">
                        <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4" style="font-size: 16px; font-weight:bold;">@string.Format("{0:#,0}", room.Price) /đêm</small>
                    </div>
                    <div class="p-4 mt-2">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="select-room">@room.RoomType.RoomTypeName</span>
                            <div class="ps-2">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                        </div>
                        <div class="d-flex mb-3">
                            <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>@room.Bed giường</small>
                            <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>@room.Bath phòng tắm</small>
                            <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                        </div>
                        <p class="text-body mb-3">@room.Description</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                @using (Html.BeginForm("Booking", "Bookings", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <div class="row g-3">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.RoomID)
                            @Html.HiddenFor(model => model.BookingID)
                            <div class="col-md-6">
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Họ tên" } })
                                    <label for="FullName">Họ tên</label>
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    <label for="email">Email</label>
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" placeholder="Checkin" name="CheckinDate">
                                    <label for="checkin">Check In</label>
                                    @Html.ValidationMessageFor(model => model.CheckinDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="date" class="form-control" placeholder="Checkout" name="CheckoutDate">
                                    <label for="checkout">Check Out</label>
                                    @Html.ValidationMessageFor(model => model.CheckoutDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.IdentifyNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "CCCD" } })
                                    <label for="checkin">Số CCCD</label>
                                    @Html.ValidationMessageFor(model => model.IdentifyNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select class="form-select" name="Adult">
                                        @for (int i = 1; i < 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <label>Người lớn</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <select class="form-select" name="Child">
                                        @for (int i = 0; i < 10; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    </select>
                                    <label>Trẻ em</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                                    <label>Số điện thoại</label>
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.PromotionCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mã ưu đãi" } })
                                    <label>Mã ưu đãi (nếu có)</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Đặt ngay</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->

@section scripts{
    <script>
        $('#dateTimePicker').datetimepicker({
            format: 'DD-MM-YYYY', // Định dạng ngày và thời gian
            defaultDate: new Date() // Giá trị mặc định là ngày và giờ hiện tại
        });

        // Kích hoạt Bootstrap DateTimePicker cho ô nhập ngày và thời gian thứ hai
        $('#nextDateTimePicker').datetimepicker({
            format: 'DD-MM-YYYY', // Định dạng ngày và thời gian
            minDate: new Date() // Giá trị tối thiểu là ngày và giờ hiện tại
        });

        // Lắng nghe sự kiện thay đổi ngày và thời gian trên ô đầu tiên
        $('#dateTimePicker').on('dp.change', function (e) {
            // Cập nhật giá trị tối thiểu cho ô nhập ngày và thời gian thứ hai
            $('#nextDateTimePicker').data('DateTimePicker').minDate(e.date);
        });

        /*function redirectToPayment() {
            var selectedPaymentMethod = document.getElementById("paymentMethod").value;

            if (selectedPaymentMethod === "paypal") {
                window.location.href = "/Bookings/PaymentWithPayPal";
            }
            else if (selectedPaymentMethod === "vnpay") {
                window.location.href = "#";
            }
        }*/

    </script>

}